[Desktop Entry]
Type=Application
Name=RipMe
Comment=Cross-platform media album ripper
Exec=ripme
Icon=ripme
Categories=Network;FileTransfer;
Terminal=false
StartupNotify=true
StartupWMClass=com.rarchives.ripme
